langchain==0.3.26
langchain-community>=0.0.19
langchain_ollama
langchain_huggingface
langchain_chroma
chromadb
numpy
sentence-transformers
pypdf
python-docx
gradio
python-docx
pandas
openpyxl
unstructured
fastapi
uvicorn
python-multipart
